.crossword-input {
    width: 30px;
    height: 30px;
    margin: 0px;
    font: 20px bold;
    text-align: center;
    border-radius: 3px;
    font-family: Verdana;
    font-weight: bold;
}

.word1 {
    margin-left: 67px;
    display: inline-block;
}

.word2 {
    margin-left: 337px;
    display: inline-block;
}

.word3 {
    margin-left: 270px;
    display: inline-block;
}

.word4 {
    display: inline-block;
}

.word5 {
    margin-left: 305px;
    display: inline-block;
}

.word6 {
    margin-left: 136px;
    display: inline-block;
}

.word7 {
    margin-left: 170px;
    display: inline-block;
}

.top-mrg {
    margin-top: 3px;
}

#i19,
#i21,
#i33,
#i411,
#i52,
#i67,
#i76 {
    border-color: #0F5E63;
    border-width: 5px;
}

@media screen and (device-width: 1024px) {
    .container {
        width: 870px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px),
only screen and (min-device-width: 480px) and (max-device-width: 768px) {
    #wraper {
        width: 700px;
    }
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    line-height: 1.3em;
    background: #f0fff0;
}